body {
    background: #000;
    color: #fff;
    font: 45px Myriad Pro, Helvetica;
}

.wrapper {
    text-align: center;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.slot {
    display: inline-block;
    vertical-align: top;
    padding: 0 60px;
    text-decoration: none;
    color: inherit;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.slot img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .slot {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    
    .slot img {
        margin-bottom: 0;
    }
    
    .slot p {
        margin: 20px 0;
    }
}