
@font-face {
  font-family: 'DeterminationMonoRUSBYLYAJK';
  src: url('DeterminationMonoRUSBYLYAJK.eot?#iefix') format('embedded-opentype'),  url('DeterminationMonoRUSBYLYAJK.woff') format('woff'), url('DeterminationMonoRUSBYLYAJK.ttf')  format('truetype'), url('DeterminationMonoRUSBYLYAJK.svg#DeterminationMonoRUSBYLYAJK') format('svg');
  font-weight: normal;
  font-style: normal;
}
