
@font-face {
  font-family: 'JoystixMonospace-Regular';
  src: url('JoystixMonospace-Regular.eot?#iefix') format('embedded-opentype'),  url('JoystixMonospace-Regular.woff') format('woff'), url('JoystixMonospace-Regular.ttf')  format('truetype'), url('JoystixMonospace-Regular.svg#JoystixMonospace-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
