
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaCond-Regular.woff') format('woff'), url('ProximaNovaCond-Regular.ttf')  format('truetype'), url('ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
